{% extends 'base.html' %}
{% block content %}
    <div class="px-5 mx-auto" style="max-width: 800px;">
        <h3 class="text-center my-3">List of Departments</h3>
        <div class="mb-3">
            <a href="/" class="btn btn-secondary">Back to Jobs</a>
            <a href="/new-dep" class="btn btn-secondary">Add a Department</a>
        </div>
        <table class="table table-sm">
            {% for department in departments %}
                <tr>
                    <td colspan="4"><h3>Department #{{ loop.index }}</h3></td>
                </tr>
                {% if current_user.is_authenticated and current_user.id in (department.chief, 1) %}
                    <tr>
                        <td colspan="4">
                            <a href="/edit-dep/{{ department.id }}" class="btn btn-warning">Edit Department</a>
                            <a href="/del-dep/{{ department.id }}" class="btn btn-danger">Delete Department</a>
                        </td>
                    </tr>
                {% endif %}
                <tr class="table-secondary">
                    <th>Title of Department</th>
                    <th>Chief</th>
                    <th>Members</th>
                    <th>Department Email</th>
                </tr>
                <tr class="table-info">
                    <td>{{ department.title }}</td>
                    <td>{{ department.user.surname }} {{ department.user.name }}</td>
                    <td class="text-center">{{ department.members }}</td>
                    <td class="text-center">{{ department.email }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}