{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h3 class="my-4 text-center">Works log</h3>
        <a href="/new-job" class="btn btn-secondary">Add job</a>
        <table class="table table-sm">
            {% for job in jobs %}
                <thead>
                <tr>
                    <td colspan="5">
                        <p class="align-self-start fs-3 m-0 fw-semibold">Action #{{ loop.index }}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/del-job?which={{ job.id }}" class="btn btn-danger">Delete job</a>
                        <a href="/edit-job/{{ job.id }}" class="btn btn-warning">Edit job</a>
                    </td>
                </tr>
                <tr class="table-secondary">
                    <th scope="col">Title of activity</th>
                    <th scope="col">Team leader</th>
                    <th scope="col">Duration</th>
                    <th scope="col">List of collaborators</th>
                    <th scope="col">Is finished</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ job.job }}</td>
                    <td>{{ job.team_leader }}</td>
                    <td>{{ job.work_size }} hours</td>
                    <td>{{ job.collaborators }}</td>
                    <td>Is {{ "" if job.is_finished else "not" }} finished</td>
                </tr>
                </tbody>
            {% endfor %}
        </table>

    </div>
{% endblock %}