{% extends "base.html" %}
{% block content %}
    <div class="d-flex flex-column align-items-center container">
        <h3 class="my-4">Works log</h3>
        <table class="table table-sm">

            {% for job in jobs %}
                <thead>
                <tr>
                    <td colspan="5">
                        <h4 class="align-self-start">Action #{{ loop.index }}</h4>
                    </td>
                </tr>
                <tr class="table-secondary">
                    <th scope="col">Title of activity</th>
                    <th scope="col">Team leader</th>
                    <th scope="col">Duration</th>
                    <th scope="col">List of collaborators</th>
                    <th scope="col">Is finished</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ job.job }}</td>
                    <td>{{ job.team_leader }}</td>
                    <td>{{ round((job.end_date - job.start_date).total_seconds() / 60 / 60, 1) }} hours</td>
                    <td>{{ job.collaborators }}</td>
                    <td>Is {{ "" if job.is_finished else "not" }} finished</td>
                </tr>
                </tbody>
            {% endfor %}
        </table>

    </div>
{% endblock %}